#body {
	margin-top: 7% !important;
	padding-top: 7% !important;
	text-align: center;
}

h1 {
	margin-bottom: 10%;
}

#detail {
	width: 600px !important;
}

#login {
	margin-top: 5% !important;
	padding-top: 5% !important;
}

